body{
    padding: 10px;
    margin: 5px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 90vh;
    background-color:white;
    gap: 10px;
    box-sizing: border-box;
}

.item{
    border: 2px solid green;
    background-color: beige;
}

.item1,.item2{
    grid-column: 1/4;;
}

.item3{
    grid-row: 3/10;
    align-content: flex-start;
    padding: 10px 0px 0px 10px;
}

.item4{
    grid-column: 2/4;
    grid-row: 3/10;
    display: flex;
    padding: 0px 10px 10px 25px;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: wrap;
}

.item6{
    grid-column: 2/4;
}

.item2{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.item1,.item5,.item6{
    padding:20px;
    align-content: center;

}



